@import './settings';
@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~ljd-njord/src/njord';

.warning {
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 0;

	background-color: $color-warning-yellow;
}

.warning__content {
	padding: spacer-size(0) spacer-size(1);
	text-align: center;

	@include adjust-font-size-to(type-size(0));
}
